*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    background-color: black;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.background{
    background-image: url(../images/fundoNetflix.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background .opacity{
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 600px;
}
header{
    height: 15%;
    width: auto;
    top: 10px;
    padding: 24px 36px;
    margin: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: -8px 0px 0px -8px;
}
header img{
    width: 20%;
    height: auto;
}
form{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    width: 400px;
    height: auto;
    margin: 0 auto;
    color: wheat;
    background-color: rgba(0, 0, 0, 0.596);
    transform: translate(-50, -50);
    align-items: center;
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 2%;
}
form input{
    margin: 3%;
    padding: 6% 12%;
    border-radius: 7px;
    align-items: flex-start;
    background-color: rgba(92, 92, 92, 0.171);
    border: 1px solid white;
    color: aliceblue;
}
.entrar{
    padding: 3% 26%;
    border-radius: 4px;
    background-color: red;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    transition: 0.5s;
    text-decoration: none;
}
.entrar:hover{
    background-color: rgb(151, 0, 0);
}
p{
    margin: 10px;
}
.acesso{
    background-color: rgba(73, 74, 75, 0.37);
    padding: 4% 10%;
    border-radius: 4px;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
}
.acesso:hover{
    background-color: rgb(73, 74, 75);
}
.esqueceu{
    margin: 5px;
    color: aliceblue;
    text-decoration: none;
}
.lembre{
    margin: 5px;
    font-weight: 100;
    font-size: 15px;
    align-items: flex-start;

}
    .cadastro{
        margin: 5px;
    color: aliceblue;
    text-decoration: none;
    }